{% extends "layouts/root.html" %}

{% from "components/widget.html" import widget %}

{% set github_followers_count =
social_media_record.github_followers_count.format().get_value() %}

{% set twitter_followers_count =
social_media_record.twitter_followers_count.format().get_value() %}

{% set instagram_followers_count =
social_media_record.instagram_followers_count.format().get_value() %}

{% set twitter_followers_count =
social_media_record.twitter_followers_count.format().get_value() %}

{% set youtube_subscribers_count =
social_media_record.youtube_subscribers_count.format().get_value() %}

{% block body %}

<main class="grid place-content-center lg:h-screen">
  {% include "components/light-mode-toggle.html" %}

  <div
    class="flex flex-col lg:flex-row items-center gap-6 mx-auto max-w-6xl mt-6">
    {% include "components/profile.html" %}

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      {{ widget(
      title="Github",
      followers_count="{} Seguidores".format(github_followers_count),
      url=github_link,
      username="@" ~ developer.github_username,
      icon="github-logo",
      background_color=github_logo_background_color,
      icon_color=github_logo_color
      )
      }}
      {{ widget(
      title="Twitter",
      followers_count="{} Seguidores".format(twitter_followers_count),
      url=twitter_link,
      username="@" ~ developer.twitter_username,
      icon="twitter-logo",
      background_color=twitter_logo_color,
      icon_color=twitter_logo_background_color
      )
      }}
      {{ widget(
      title="Instagram",
      followers_count="{} Seguidores".format(instagram_followers_count),
      url=instagram_link,
      username="@" ~ developer.instagram_username,
      icon="instagram-logo",
      background_color=instagram_logo_color,
      icon_color=instagram_logo_background_color
      )
      }}
      {{ widget(
      title="Youtube",
      followers_count="{} Inscritos".format(youtube_subscribers_count),
      url=youtube_link,
      username=developer.youtube_channel,
      icon="youtube-logo",
      background_color=youtube_logo_color,
      icon_color=youtube_logo_background_color
      )
      }}
    </div>
  </div>
</main>

{% endblock body %}
