{% from "components/variation.html" import variation %}

{% macro card(title, icon, color, count, variation_value, is_up ) %}

{% set icon_style = "style=color:{};".format(color) %}

<div class="bg-slate-900 p-6 rounded-lg">
  <div class="flex items-center justify-between">
    <h3 class="text-slate-400">{{ title }}</h3>
    <i
      {{ icon_style }}
      class="ph-fill ph-{{ icon }} text-2xl"></i>
  </div>

  <div class="flex items-center justify-between mt-3">
    <strong class="text-3xl text-indigo-50 font-semibold">
      {{ count }}
    </strong>
    {{ variation(value=variation_value, is_up=is_up) }}
  </div>
</div>

{% endmacro %}