{% from "components/variation.html" import variation %}

{% macro followers_card(title, count, icon, color, label, variation_value,
is_up) %}

{% set border_style = "style=border-color:{};".format(color)
%}
{% set icon_style = "style=color:{};".format(color) %}

<div
  {{ border_style }}
  class="flex flex-col items-center justify-between h-56 py-6 border-t-8 rounded-lg bg-slate-900">

  <div class="flex items-center gap-1 justify-between">
    <i
      {{ icon_style }}
      class="ph-fill ph-{{ icon }} text-2xl"></i>
    <h3 class="text-md text-slate-400">{{ title }}</h3>
  </div>

  <div class="flex flex-col gap-1 items-center">
    <strong
      class="{{ 'text-3xl' if 'Indisponível' in count else 'text-5xl' }} text-indigo-50 font-semibold tracking-wider">
      {{ count }}
    </strong>
    <small class="text-2xl text-slate-600 tracking-widest">
      {{ label }}
    </small>
  </div>

  {{ variation(value=variation_value, is_up=is_up) }}
</div>

{% endmacro %}
